.Greetings {
  font-family: georgia !important;
  font-size: 150% !important;
  font-weight: 600 !important;
  margin: 50px 0 50px 0 !important;
}

.Greetings__Link {
  font-size: 100% !important;
  color: black;
  margin: 5px;
  font-weight: 600;
}
.Greetings__Link:hover {
  text-decoration: underline !important;
}
.GreetingsHead {
  color: #808080;
  font-family: georgia;
  font-weight: 500;
  font-size: 14px;
  padding: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.secondrylink {
  color: #000;
  font-weight: 500;
}
.secondrylink:hover {
  text-decoration: underline !important;
}
.spansecondry {
  font-size: 18px;
  line-height: 1.65;
  margin: 0 0 20px 0;
  color: #808080;
  word-break: break-word;
  hyphens: auto;
}
.visual li {
  padding: 10px;
}
.chekout {
  border-radius: 3px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  text-align: center;
  margin: 0;
  background: linear-gradient(to bottom, #27ae60 0%, #26a15f 100%);
  padding: 5px 15px;
  font-size: 13px;
  width: auto;
  display: table;
}
a.chekout:hover {
  color: #fff !important;
}

.disabled-component {
  font-size: 12px;
  color: #808080;
  margin: 2px 0 0 4px;
  display: inline;
}

.disabled-button {
  background: #cccccc !important;
  color: #808080 !important;
  box-shadow: none !important;
}
