* {
  font-size: 18px;
  font: 400 -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  text-align: justify;
}
html {
  scroll-behavior: smooth;
}
a:hover {
  text-decoration: underline;
}
